body {
    background-color: rgb(199, 173, 89);
    width: 90%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}
h1 {
    color: red;
}
h2 {
    color: red;
}
h3 {
    color: black;
}
a {
    color: black;
}
.image-background-remove {
    background-color: transparent;
}
.header-image {
    height:12px;
    width:12px
}