body {
    background-color: rgb(199, 173, 89);
    width: 90%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}
h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
}
a {
    color: black;
}
.image-background-remove {
    background-color: transparent;
}
/* this image should be small */
.header-image {
    width: 10%;
    height: 10%;
    margin: auto;
    display: block;
    border-radius: 50%;
}
.mush-love-recipes-text-block {
    float: left;
    width: 30%;
    height: 30%;
    margin: auto;
    display: block;
    border-radius: 50%;
}
/* mush-love-recipes logo */
.mush-love-recipes-logo {
    float: right;
    width: 30%;
    height: 30%;
    margin: auto;
    display: block;
    border-radius: 50%;
}

/*f&f-recipes-logo */
.field-and-forest-recipes-logo {
    width: 30%;
    height: 30%;
    margin: auto;
    display: block;
    border-radius: 50%;
}

/*f&f-recipes-logo */
.field-and-forest-recipes-logo {
    width: 30%;
    height: 30%;
    margin: auto;
    display: block;
    border-radius: 50%;
}