body {
    background-color: rgb(199, 173, 89);
    width: 90%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}
h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
}
a {
    color: black;
}
.image-background-remove {
    background-image: none;
    background-color: transparent;
}